DB_ENGINE=postgresql
DB_NAME='tts'
DB_USERNAME='tts_db_username'
DB_PASS='tts_db_password'
DB_HOST='db'
DB_PORT='5432'


TTS_WEBHOOK_URL=https://your-domain.com/tickets/api/v1/create/
TTS_API_KEY=dc116f9056264e9d48a295943b098b86819a7b5
TTS_CATEGORY=Support
TTS_STATUS=Open
TTS_PRIORITY=Low
TTS_ASSIGNEE=your-username
TTS_ASSIGNED_GROUP=staff
