postgres_data/
db.sqlite3
*.swp
# Django specific files
*.pyc
__pycache__/
db.sqlite3
*.log

# Ignore virtual environments
venv/
.env

# Ignore migrations across all apps
**/migrations/*_*.py
data.json
# Ignore all migrations py files besides __init__.py
**/migrations/00*_*.py
backup/