<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pages:landing_page' %}">TTS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      
      {% if user.is_superuser %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'accounts:admin_board' %}" class="nav-link">Activity log</a>
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tickets
                </button>
                <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="{% url 'tickets:index' %}">All tickets</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:my_tasks' %}">My tasks</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:in_progress' %}">In Progress</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:list_issues' %}">Open issues</a> <i class="ticket_count notification-tag">0</i></li>
                <li><a class="dropdown-item" href="{% url 'tickets:list_closed_tickets' %}">Closed Tickets</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:list_hidden_tickets' %}">Hidden Tickets</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:view_changes' %}">Activity log</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:new_ticket' %}">New Ticket</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:statistics' %}">Stats</a></li>
                <li><a class="dropdown-item" href="{% url 'tickets:view_help' %}">Help</a></li>
                </ul>
        </li> 
        
      </ul>
      <form class="d-flex" method="get" action="{% url 'tickets:search_tickets' %}">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="nav-link d-inline">({{ user.username }})</a>
            <a href="{% url 'accounts:logout' %}" class="nav-link d-inline">Logout</a>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
    
  </div>
</nav>
