{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Ticket Tracking System</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1.</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Why?</h6>
                <p class="card-text">
                    <BR>
                        <EM>Try to provide and gently enforce a formal method for requesting changes to the system and getting help. If users get accustomed to instant answers to questions, they will become angry when you can't drop what you're doing to help them. Try to set up an email or Web-based help system. It may seem bureaucratic to force users to use these systems, but it helps prevent your day from becoming <STRONG>interrupt-driven</STRONG> and also provides you with a log of requests.Have you ever forgotten to take care of a request because you where too overloaded? Give yourself an automatic to do list.)</EM>
                    <BR>
                        Quoted from Unix, System Administrator's Edition.
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2.</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">How?</h6>
                <p class="card-text">
                By keeping track of what you're doing. Using a spreadsheet is limiting and TTS offers an acceptable balance between simplicity and features.
                By using a this web interface, you can create, update, and close tickets. You can also search for tickets and view the activity log.
                </p>
                <a href="{% url 'tickets:index' %}" class="card-link">List</a>
                <a href="{% url 'tickets:new_ticket' %}" class="card-link">New Ticket</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3.</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">What?</h6>
                <p class="card-text">
                    Take a look at the <a href="{% url 'tickets:list_issues' %}">open issues</a> or the <a href="{% url 'tickets:list_closed_tickets' %}">closed tickets</a>.
                    <BR>
                    Check if there is something on your plate in <a href="{% url 'tickets:my_tasks' %}">My tasks</a> or something you can <a href="{% url 'tickets:index' %}">help with</a>.
                 </p>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}